.features-container {
    @include size($full 100vh);
    display: flex;
    @include flexable($flex-center $flex-center);
    margin-top: 116px;

    .features-subcontainer {
        width: 1170px;
        margin: $center;

        .row {
            display: flex;
            height: 305.43px;


            .feature {
                width: 370px;

                .picture-container {
                    display: flex;
                    @include flexable($flex-center flex-start);
                }

                .feature__header {
                    font-weight: 900;
                    @include font(24px 28px);
                    color: #2D3033;
                    display: flex;
                    @include flexable($flex-center $flex-center);
                    text-transform: uppercase;
                    margin-top: 41px;

                }

                .feature__text {
                    color: #6C7279;
                    @include font(18px 21px);
                    display: flex;
                    @include flexable($flex-center $flex-center);
                    text-align: $flex-center;
                    margin-top: 20px;
                }
            }

            .feature:nth-of-type(2) {
                margin: 0 31px;
            }
        }

        .row1 {
            margin: 116px 0 100px;
        }

    }
}