@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');

* {
    margin: 0 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

}

header {
    @include size($full 747px);
    background-image: url(./images/img.png);
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;

    .header-background {
        @include size($full $full);
        background: #252B49;
        opacity: 80%;

        .header-container {
            height: 101px;
            display: flex;
            align-items: $flex-center;

            .header-container-logo {
                margin-left: 170px;
                @include size(270px 101px);
            }

            .header-container-navigation {
                display: flex;
                justify-content: $flex-center;
                margin-left: auto;
                margin-right: 170px;
                @include size(670px 101px);

                h6 {
                    display: flex;
                    @include flexable($flex-center $flex-center);
                    color: $white;
                    @include size(134px $full);
                    @include font(13px 15px);
                    font-weight: 700;
                    text-transform: uppercase;

                }

                h6:nth-of-type(1) {
                    border-bottom: 3px solid $white;
                }
            }

            .header-burger {
                display: none;
            }
        }

        .header-line {
            margin: $center;
            width: 1170px;
            @include bordered(0.5px, #BABBC5);
        }

        .header-banner {
            margin: $center;

            .header-banner__header {
                margin: 131px auto 0;
                @include size(1170px 150px);
                @include font(64px 75px);
                font-weight: 900;
                text-align: $flex-center;
                color: $white;
                text-transform: uppercase;
            }

            .header-banner__text {
                margin: 31.43px auto 0;
                @include size(1170px 56px);
                @include font(24px 28px);
                text-align: $flex-center;
                color: $white;

            }

            .header-banner__button {
                display: flex;
                @include flexable($flex-center $flex-center);
                margin: 82px auto 0;
                @include size(369px 77.58px);
                background: #FF4343;
                @include font(24px 28px);
                font-weight: 900;
                text-transform: uppercase;
                color: $white;
            }
        }
    }
}