.our-team-container {
    @include size($full 100vh);
    display: flex;
    @include flexable($flex-center $flex-center);
    margin: 114px 0;

    .our-team-subcontainer {
        width: 1170px;
        margin: $center;
        display: flex;
        @include flexable($flex-center $flex-center);

        .person-card {
            @include size(270px 619px);

            .person-card__photo {
                @include size($full 270px);
            }

            .person-card__name {
                display: flex;
                align-items: $flex-center;
                @include size($full 30px);
                color: #2D3033;
                font-weight: 700;
                @include font(24px 28px);
                margin-top: 30px;

            }

            .person-card__post {
                display: flex;
                align-items: $flex-center;
                @include size($full 21px);
                color: #FF4343;
                text-transform: uppercase;
                @include font(18px 21px);
                margin-top: 5.29px;
            }

            .person-card__text {
                @include font(18px 21px);
                display: flex;
                align-items: $flex-center;
                color: #6C7279;
                margin-top: 17.86px;
            }

            .person-card__links {
                display: flex;
                margin-top: 37.86px;
            }

            img:nth-of-type(2) {
                margin: 0 5px;
            }
        }

        .person-card:nth-of-type(1),
        .person-card:nth-of-type(2),
        .person-card:nth-of-type(3) {
            margin-right: 30px;
        }

        .person-card1 {
            .person-card__photo {
                background-image: url(./images/our_team/worker1.png);

            }

        }

        .person-card2 {
            .person-card__photo {
                background-image: url(./images/our_team/worker2.png);
            }
        }

        .person-card3 {
            .person-card__photo {
                background-image: url(./images/our_team/worker3.png);
            }
        }

        .person-card4 {
            .person-card__photo {
                background-image: url(./images/our_team/worker4.png);
            }
        }
    }
}